/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {

  background: hwb(0 90% 10% / 0.692);
}

/* Handle */
 ::-webkit-scrollbar-thumb {
  background: hwb(0 49% 51% / 0.808);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hwb(0 1% 99%);
}

html {
  color-scheme: light !important;
}
:root {
  color-scheme: only light;
}

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
      color-scheme: light;
  }
}
